/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}


body,
html {
  font-family: 'Muli';
  font-size: 13px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

img.logo {
  max-width: 285px;
  max-height: 24px;
}

h1,
h2,
h3,
h4 {
  font-family: Poppins, sans-serif;
  color: #da1157;
  font-weight: 600;
}

h3.navGroupCategoryTitle {
  color: #232323;
  font-weight: 600 !important;
  font-family: Poppins, sans-serif;
}

.navListItem a {
  font-family: Poppins, sans-serif;
  color: #232323 !important;
}

.navListItemActive a {
  color: #da1157 !important;
}

.button {
  font-family: 'Muli';
  font-weight: 600;
  font-size: 10px;
  border-color: #da1157;
  color: #da1157;
  letter-spacing: 1px;
  margin: 0 8px;
}

a.button:hover {
  background-color: #da1157;
}

.nav-footer {
  background: #f2f2f2;
  border: none;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-family: 'Muli';
  line-height: 24px;
  padding-bottom: 2em;
  padding-top: 2em;
  position: relative;
}

.copyright,
.nav-footer a {
  color: #979797 !important;
}

.nav-footer h5 {
  color: #232323 !important;
}
